<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Toolbar Customization - Demo</title>

    <style>
        .dx-toolbar {
            display: flex !important;
        }

    </style>

    <!-- Include jQuery -->
    <script src="/Scripts/jquery-3.5.1.min.js"></script>

    <!-- Include DevExtreme Styles -->
    <link rel="stylesheet" href="/Content/dx.common.css" />
    <link rel="stylesheet" href="/Content/dx.light.css" />


    <!-- Include DevExtreme Scripts -->
    <script src="/Scripts/dx.all.js"></script>

    <!-- Include JavaScript -->
    <script type="module" src="/DataGridDemo/Templates/ToolbarCustomization.js"></script>

</head>
<body>
    <h1>Toolbar Customization Demo</h1>

    <div id="dataGrid"></div>
</body>
</html>